/* ローディングアニメーションここから */
#loading,
#top_loading {
  display: table;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
}

/* #top_loading  */
@keyframes pl_loading {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes top_loading {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#loading.loaded { 
  animation: pl_loading 5s ease-in-out forwards;
}

#top_loading.top_loaded { 
  animation: top_loading 5s ease-in-out forwards;
}

#loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#top_loading h1 {
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#top_loading h1 span {
  display: inline;
  visibility: visible;
}
/* ローディングアニメーションここまで */
