/* ローディングアニメーションここから */
#und_loading,
#top_loading {
  display: table;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transform-origin: right top;
}

/* #und_loading */
@keyframes pl_loading {

  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  70% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    visibility: hidden;
  }

}

/* #top_loading  */
@keyframes first_loading {

  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  70% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    visibility: hidden;
  }

}

/* #top_loading  */
@keyframes af_sec_loading {

  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  70% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    visibility: hidden;
  }

}

/* プレイヤーページ */
#und_loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#und_loading.under_loaded { 
  animation: pl_loading 5s ease-in-out forwards;
}

/* トップページ:初回のローディング */
#top_loading.first_loaded { 
  animation: first_loading 5s ease-in-out forwards;
}

/* トップページ:2度目以降のローディング */
#top_loading.af_sec_loaded { 
  animation: af_sec_loading 5s ease-in-out forwards;
}

#top_loading h1 {
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#top_loading h1 span {
  display: inline;
  visibility: visible;
}
/* ローディングアニメーションここまで */