@charset "utf-8";
/* ローディングアニメーションここから(プレイヤーページのみ。TOPはmain.jsでコントロール) */
#und_loading,
#top_loading {
  display: table;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transform-origin: right top;
}

/* #und_loading */
@keyframes pl_loading {

  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  70% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    visibility: hidden;
  }

}

/* プレイヤーページのローディング*/
#und_loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#und_loading.under_loaded { 
  animation: pl_loading 5s ease-in-out forwards;
}

/* ローディングアニメーションここまで */