/*
主たるブレイクポイント
768px以下sp.tab
769px以上pc
1000px以上pc2
*/

/*===============
共通設定 & 汎用クラス
===============*/
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html
{
  font-size: 62.5%;
  /* to hide scrollbar */
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE、Edge */
  scrollbar-width: none;    /* Firefox */
  
  /* no select elements */
  user-select: none;
  -moz-user-select: none;/* Mozilla */
  -webkit-user-select: none;/* WebKit */
  -ms-user-select: none;/* Microsoft */
}

html::-webkit-scrollbar
{
  display: none;/* Chrome、Safari */
}

body
{
  font-size: 1.6rem;
  font-family:メイリオ,Meiryo,sans-serif;
  line-height: 2;
  color: #7C7C7C;
  /* background-color: #E3E3E3; */
  background-color: rgba(227,227,217, 0.2);
  list-style: none;
}

a
{
  text-decoration: none;
  color: rgb(221, 221, 221);
}

li
{
  list-style: none;
}

button
{
  outline: none;
}

.inner
{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row
{
  margin-top: 80px;
}

.hover
{
  opacity: 1;
}

.hover:hover
{
  opacity: .8;
}

.smooth {
  transition: .8s;
}


.btn
{
  width: 50px;
  height: 50px;
  background-color: #B8B3B6;
  border-radius: 50%;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
}


button#top_menu
{
  left: 10px;
  bottom: 10px;
  z-index: 500;
  transition: .8s;
}

@media screen and (min-width:769px)
{
  button#top_menu
  {
    left: auto;
    bottom: auto;
    top: 10px;
    right: 10px;
  }
}/* ===== end of @media screen and (min-width:769px) ===== */

button#top_menu span
{
  display: block;
  width: 80%;
  transition: .8s;
  transform: translate3d(5px, 18px, 0);
}

button#top_menu.on span
{
  letter-spacing: -8px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(5px, 18px, 0);
}

@keyframes line_rotate_left
{
  0%
  {
    transform-origin: center;
    transform: translate3d(23px, -55px, 0) rotate(45deg);
  }
  100%
  {
    transform-origin: center;
    transform: translate3d(23px, -55px, 0) rotate(405deg);
  }
}

@keyframes line_rotate_right
{
  0%
  {
    transform-origin: center;
    transform: translate3d(23px, -12px, 0) rotate(-45deg);
  }
  100%
  {
    transform-origin: center;
    transform: translate3d(23px, -12px, 0) rotate(315deg);
  }
}

.left_line
{
  background-color:#F2F2F2;
  border-radius: 3px;
  width: 3px;
  height: 45px;
  opacity: 0;
  transition: .8s;
  transform-origin: center;
  animation: line_rotate_left 60s linear infinite;
}

.right_line
{
  background-color:#F2F2F2;
  border-radius: 3px;
  width: 3px;
  height: 45px;
  opacity: 0;
  transition: .8s;
  transform-origin: center;
  animation: line_rotate_right 60s linear infinite;
}

/* js control */
.left_line.on
{
  opacity: 1;
  height: 45px;
  margin-bottom: -45px;
  animation: line_rotate_left 60s linear infinite;
}

/* js control */
.right_line.on
{
  opacity: 1;
  height: 45px;
  margin-bottom: -2px;
  animation: line_rotate_right 60s linear infinite;
}


/*==========================
#top #sp_menu
============================*/
#top div#sp_menu
{
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  z-index: 499;
  opacity: 0;
}

/* js control */
html.scroll_prevent
{
  overflow: hidden;
  height: 100%;
}

#top div#sp_menu nav > ul
{
  padding-top: 15%;
  height: 100vh;
  width: 100%;
  
  /* to hide scrollbar */
  overflow-y: scroll;
  -ms-overflow-style: none;/* IE、Edge */
  scrollbar-width: none;/* Firefox */
}


/*=========================
player.php
=========================*/
#player_main{
  position: relative;
  z-index: 0;
  top:0;
  left:0;
}

#photo_wrapp
{
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0;
}

/* 暫定記述 */
#photo_filter{
  position: absolute;
  z-index: 100;
  top:0;
  left:0;
  width: 100vw;
  height:100vh; 
}
/* 
@keyframes op
{
  0%
  {
    opacity: 0;
  }
  28%
  {
    opacity: 1;
  }
  84%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
} */

/* ================================================
↓ テーマ変更、再生速度変更、エフェクト変更ボタンここから
================================================== */
.pl_wrapp,
.fl_wrapp,
.tm_wrapp 
{
 max-width: 200px;
 margin: 0 auto; 
 padding-top: 100px;
}

ul.pltm_wrapp,
ul.flval_wrapp,
ul.pltheme_wrapp
{
  position: relative;
  z-index: 10;
  background-color: skyblue;
  max-width: 200px;
  padding: 20%;
  margin: 0 auto;
}

ul.pltm_wrapp > li,
ul.flval_wrapp > li
{
  position: absolute;
  z-index: 10;
  font-size: 26px;
  opacity: 0;
}

ul.pltheme_wrapp > li {
  position: absolute;
  z-index: 10;
  font-size: 26px;
}

ul.pltheme_wrapp > li a{
  vertical-align: middle;
}


/* js controll */
.on
{
  opacity: 1;
  animation: select_value .2s ease-in-out forwards;
}

@keyframes select_value
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

.hidden
{
  visibility: hidden;
  transition: opacity .8s;
  opacity: 0;
}

.visible
{
  visibility: visible;
  transition: opacity .8s;
  opacity: 1;
}

/* ===============================================
↑ テーマ変更、再生速度変更、エフェクト変更ボタンここまで
=================================================*/
