/* ポジションの設定は他の要素の設定も完了してから再検討すること */
.pl_ctrl_1,
.pl_ctrl_2,
.pl_ctrl_3{
  width: 100vw;
  height: 50vh;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* プレイヤーコントロール画面内のボタンを絶対値固定する為設置 */
  position: relative;
  font-size: 50px;
  color: #f3f3f3;

  /* 初期値は画面外へ */
  transform:translate3d(-100%,0, 0);
  transition: .6s;
}

/* 試験的に色を分ける */
.pl_ctrl_1{
  background-color: rgba(49,44,44,.5);
  transform:translate3d(-100%,0, 0);
}
.pl_ctrl_2{
  background-color: rgba(49,44,44,.5);
  transform:translate3d(-100%,-100%, 0);
}
.pl_ctrl_3{
  background-color: rgba(49,44,44,.5);
  transform:translate3d(-100%,-200%, 0);
}


/* プレイヤーのメニューボタンのスタイル */

.pl_ctrl_btn
{
  position: relative;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
  background-color: #B8B3B6;
  transform: translate3d(-100%, 20%, 0);
  transition: transform .8s, opacity .8s;
}

.pl_ctrl_btn.btn_off
{
  opacity: 0;
  transform: translate3d(-100%, 20%, 0);
}

.pl_ctrl_btn.btn_on
{
  opacity: 1;
}

/* js control */
.tl_y
{
  transform: translate3d(50%, 20%, 0);
}

/* プレイヤーメニュー内のクリアーボタン */
button.fl_cl {
  /* position: relative;
  z-index: 10; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
  background-color: #B8B3B6;
  transform: translate3d(-100%, 20%, 0);
  transition: transform .8s, opacity .8s;
}


/* ここからプレイヤーのメニュー画面内のボタン */
button.tm_up,
button.tm_down,
button.slow,
button.fast,
button.fl_up,
button.fl_dw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.plLeft_btn_1,
.plLeft_btn_2,
.plLeft_btn_3
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 20px;
}

.plRight_btn_1,
.plRight_btn_2,
.plRight_btn_3
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;

}

/* メニュー背景を画面内に表示させる効果 */
.pl_ctrl_1.on{transform:translate3d(0,0, 0);}
.pl_ctrl_2.on{transform:translate3d(0,-100%, 0);}
.pl_ctrl_3.on{transform:translate3d(0,-200%, 0);}